

.banner h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color:khaki;
    background-image: url("../images/pattern.webp");
    text-align: center;
}

.brush h2 {
    font-family: Helvetica;
    font-size: 32px;
    color: white;
}

#brush-back {
    background-color:mediumaquamarine
}

.frame h2 {
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    color: white;
    width: 100%;
    margin: 20px 0;
    padding: 8px 10px;
    clear: both;
}

.paint h2 {

    background-color: skyblue;
    font-family: Helvetica;
    font-size: 32px;
    color: white;
    width: 100%;
    margin: 20px 0;
    padding: 8px 10px;
    clear: both;
}

strong {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}