.navbar { 
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navbar li {
    display:inline-block;
    padding: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: black
}

.banner {
    position: relative;
    background-color: #4D00FF;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0
}

#small-gritty {
    height:100px;
    width: 100px;
    filter: drop-shadow(1px 1px 1px black)
}

.gitter-section {
    padding: 20px 50px;
}

#gritter {
    color:#4D00FF;
    font-size: 100px;
}

#greets ul{
    list-style-type: none;
}

.avatar {
    background-image: url("../images/Better_than_drake.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.bold {
    font-weight: 900;
}

a.blue {
    color: blue;
}

