* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif, ;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    padding-top: 69px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    z-index: 1;
}

#logo img{
    float: left;
    height: 50px;
    margin-left: 10px;
}

.nav { 
    float: right;
    margin: 10px 10px;
}

.nav li {
    display: inline-flex;
    margin-left: 10px;
    padding-right: 20px 10px ;
}

.nav a {
    color: seashell;
    text-decoration: underline;
}

.banner {
    height: 700px;
    max-width: 1200px;
    background-image: url(../images/img-mission-background.jpg);
    margin: 70px auto 0 auto;
    display: flex;
    align-items: center;
}

.banner .banner-text {
    background-color: black; 
    text-align: center;
    width: 100%;
}

.tea {
    display: block;
    width: 1000px;
    text-align: center;
    margin: 70px auto 0 auto;
}

.tea-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50x;
}

.item {
    margin:10px;
}

.item img{
    height: 200px;
    width: 300px;
    display: block;
}

.item p {
    margin-top: 10px;
}

.tealocation {
    background-image: url(../images/img-locations-background.jpg);
    background-position-y: -35px;
    width: 1200px;
    height: 500px;
    text-align:center;
    margin: 70px auto 0 auto;
}

.tealocation h2 {
    padding-top:40px;
    margin-bottom: 20px;
}
.locationofteas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 50px;
}

.location {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 40px;
    width:300px;
    height:300px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin: 0  10px;
}

.location h3, .location h4 {
    margin: 5px 0; /* Adjusts the spacing between lines of text */
    line-height: 30px;
}

.footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    height:200px;
    padding-top: 20px;
    line-height: 40px;
}


.copyright {
    float: left;
    margin: 40px 20px;
}